<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	
</head>
<body >
<div class="duplicateContent">
<div class="bodyContent">
<div class="loginContent">
<p>Username:<input id="Username" type="text" name="Username">
<span></span></p>
<p>Password:<input  id="Password" type="Password" name="Password">
<span></span></p>
<p><input type="button" name="submit" value="Login" onclick="submit()"></p>
</div>
</div>

</div>

   
 <p>Login with branchcreated</p>

 <script type="text/javascript" src="/website/src/js/login.js"></script>
 <link rel="stylesheet" type="text/css" href="/website/src/css/login.css">
</body>
</html>